# Argentinian dead's main causes
#### Source: https://ourworldindata.org/world-population-growth

### DESCRIPTION

In [37]:
import pandas as pd
import matplotlib as plt

In [46]:
causes = pd.read_csv('annual-number-of-deaths-by-cause.csv')
population = pd.read_csv('population.csv')

### Main dead's causes arround the world since 1990 to 2017

In [171]:
causes

,Entity,Code,Year,Execution,Meningitis (deaths),Lower respiratory infections (deaths),Intestinal infectious diseases (deaths),Protein-energy malnutrition (deaths),Terrorism (deaths),Cardiovascular diseases (deaths),...,Neonatal disorders (deaths),Alcohol use disorders (deaths),Natural disasters (deaths),Diarrheal diseases (deaths),Heat (hot and cold exposure) (deaths),Nutritional deficiencies (deaths),Suicide (deaths),Conflict (deaths),Diabetes (deaths),Poisonings (deaths)
0,Afghanistan,AFG,2007,15,9121.085992,29066.442137,461.195202,1846.996686,1199.0,53532.680495,...,28477.081107,96.027592,296.000026,10366.124292,160.930121,1941.282198,1378.571549,8216.000975,4691.007199,305.207239
1,Afghanistan,AFG,2008,17,8387.057275,26623.480551,437.718960,1681.270324,1092.0,53402.322328,...,28234.015837,98.308461,0.000000,8994.815981,156.860722,1765.980756,1411.783229,6748.999931,4750.240999,300.246001
2,Afghanistan,AFG,2009,0,7318.273004,24792.335792,415.776634,1568.095029,1065.0,53024.450772,...,27897.481121,100.088778,101.000000,7996.529795,152.144044,1647.863334,1428.808015,7562.996178,4784.225283,295.413907
3,Afghanistan,AFG,2010,NaN,7154.319444,23950.017286,332.253781,1541.841155,1157.0,52712.687821,...,27018.706951,102.648045,349.999997,7530.046788,151.683206,1619.355103,1457.157631,8117.000620,4825.933668,304.808594
4,Afghanistan,AFG,2011,2,6919.757958,23115.144836,299.758258,1468.203744,1525.0,52815.737495,...,27198.628720,105.565020,62.000000,7053.113394,150.311602,1543.182842,1496.192418,9061.000023,4954.293898,311.997686
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6681,Zimbabwe,ZWE,2003,NaN,1842.738749,11671.507529,15.290586,3001.007608,0.0,18013.633317,...,7976.334894,80.554883,10.000000,4076.907435,44.492707,3060.919036,2774.913349,5.000000,2464.305902,384.913007
6682,Zimbabwe,ZWE,2004,NaN,1897.210030,11912.787792,15.858873,2987.046148,NaN,18424.762242,...,8244.393421,81.526343,0.000000,3975.116771,45.307413,3048.142154,2868.490026,1.000000,2544.638684,388.287626
6683,Zimbabwe,ZWE,2005,NaN,1972.102293,12332.751355,17.191164,3154.257667,NaN,18523.610968,...,8613.067778,81.773393,0.000000,4138.829612,46.063561,3215.816535,2897.899125,3.000000,2581.363814,396.433573
6684,Zimbabwe,ZWE,2006,NaN,2021.646371,12679.065309,18.191677,3252.216148,0.0,18478.629953,...,9022.460105,81.992591,0.000000,4337.462149,46.823812,3313.276491,2894.015527,0.000000,2609.324460,401.035836
6685,Zimbabwe,ZWE,2017,NaN,1677.007331,12369.654705,NaN,3111.873502,0.0,16976.902369,...,8411.915534,77.192339,0.000000,4602.593760,41.433611,3157.591804,2647.468528,5.000000,2746.739645,405.377266

In [190]:
causesArg = causes.loc[causes['Entity']=='Argentina']
causesArg = causesArg.sort_values(by = ['Year'] ) # sort values by the year

In [192]:
causesArg = causesArg.drop(columns=['Entity','Code','Execution']) # None execution were registered in Argentina
causesArg = causesArg.set_index('Year')

### Main dead's causes in Argentina since 1990 to 2017

In [191]:
causesArg

,Entity,Code,Year,Execution,Meningitis (deaths),Lower respiratory infections (deaths),Intestinal infectious diseases (deaths),Protein-energy malnutrition (deaths),Terrorism (deaths),Cardiovascular diseases (deaths),...,Neonatal disorders (deaths),Alcohol use disorders (deaths),Natural disasters (deaths),Diarrheal diseases (deaths),Heat (hot and cold exposure) (deaths),Nutritional deficiencies (deaths),Suicide (deaths),Conflict (deaths),Diabetes (deaths),Poisonings (deaths)
234,Argentina,ARG,1990,NaN,772.880513,8207.230969,1.414231,1032.299181,1.0,102810.352122,...,8739.161622,932.814571,21.000000,1095.738347,79.658499,1114.414371,3207.208396,1.0,5626.809890,396.128429
235,Argentina,ARG,1991,NaN,758.898809,8468.648078,1.404973,998.298627,1.0,101600.223892,...,8531.967702,983.329093,0.000000,1020.663302,84.687455,1080.436468,3354.079236,1.0,5800.866841,392.837002
236,Argentina,ARG,1992,NaN,743.301540,8872.556420,1.402869,962.797720,33.0,103431.622369,...,8041.108458,1060.888500,45.000000,940.823357,91.239432,1047.784184,3624.001526,32.0,6148.229023,388.860705
237,Argentina,ARG,1993,NaN,749.533062,9296.629035,1.398235,924.504826,NaN,101725.440249,...,7692.751903,1077.942694,15.000000,873.433422,94.760665,1008.276582,3740.150774,0.0,6365.775437,378.607335
238,Argentina,ARG,1994,NaN,719.904669,9710.894416,1.403251,902.100632,86.0,98786.453745,...,7262.287275,1121.901354,0.000000,812.915264,99.253795,983.998567,3907.937619,86.0,6540.101630,370.651359
239,Argentina,ARG,1995,NaN,726.584655,10724.751893,1.403344,948.437263,0.0,99053.523344,...,7060.767714,1148.454744,6.000000,808.808124,103.836537,1033.663187,4040.202850,0.0,6824.087962,368.068379
240,Argentina,ARG,1996,NaN,737.298450,11846.725898,1.389365,1017.581204,1.0,99428.152121,...,6926.771307,1180.648515,0.000000,801.194693,111.130632,1107.331532,4259.710969,1.0,7123.101306,373.462387
241,Argentina,ARG,1997,NaN,644.356476,13324.864548,1.373633,1143.755547,3.0,99454.023266,...,6560.614726,1198.957276,19.000000,803.481466,117.771987,1242.196831,4412.565476,3.0,7569.252684,372.214446
242,Argentina,ARG,1998,NaN,653.093877,14925.450822,1.357596,1267.796096,NaN,100710.753068,...,6531.415137,1140.328776,23.000000,791.426257,118.305931,1380.555904,4494.342367,0.0,8110.139312,363.639613
243,Argentina,ARG,1999,NaN,632.741019,16458.542813,1.346431,1339.387686,0.0,102428.750437,...,6086.367090,1099.715315,11.000000,756.584659,121.832333,1465.067906,4629.979230,0.0,8679.853341,369.158717
244,Argentina,ARG,2000,NaN,613.330126,17120.879325,1.334553,1346.779044,NaN,98064.681940,...,5869.783223,997.448827,19.000000,708.527828,152.271672,1469.092549,4597.184905,0.0,8625.929035,363.986272
245,Argentina,ARG,2001,NaN,600.776368,18532.871280,1.318904,1390.377582,0.0,98847.645063,...,5646.850381,952.458101,33.000000,689.789434,124.539179,1514.662308,4729.636485,0.0,8853.290187,360.412819
246,Argentina,ARG,2002,NaN,610.990859,19950.526970,1.298754,1488.856477,NaN,100822.096608,...,5868.220865,918.521979,21.000000,698.688030,122.476098,1622.952987,4793.557865,0.0,9072.943471,379.720989
247,Argentina,ARG,2003,NaN,609.906564,21537.318103,1.281133,1481.517515,0.0,102225.878928,...,5696.996666,903.931033,32.000000,674.269826,119.989370,1617.119698,4624.817243,0.0,9319.987785,381.983754
248,Argentina,ARG,2004,NaN,578.339234,22088.903887,1.259910,1358.365733,NaN,98797.998435,...,5201.014022,856.794667,7.000000,620.564035,115.470909,1482.046153,4379.049348,0.0,9088.588064,382.079050
249,Argentina,ARG,2005,NaN,556.206033,22723.054315,1.251626,1243.706197,0.0,96922.284295,...,4714.253891,863.040603,14.000000,587.847947,117.404670,1354.444574,4382.398642,0.0,8876.144781,392.078332
250,Argentina,ARG,2006,NaN,549.047942,23753.297435,1.253774,1183.945913,NaN,97307.486797,...,4512.160473,867.388073,3.000000,585.805200,115.330315,1291.712135,4434.023274,0.0,8768.676693,381.513852
224,Argentina,ARG,2007,NaN,556.903850,25400.629262,1.258517,1182.577307,NaN,100855.869590,...,4563.934351,903.360210,14.000000,596.603217,154.617366,1290.213689,4630.155412,0.0,8987.126193,405.415909
225,Argentina,ARG,2008,NaN,548.584506,25443.474559,1.256019,1101.646339,NaN,97556.233030,...,4501.571987,869.899980,11.000000,593.417806,113.973186,1198.473033,4670.235990,0.0,8514.335426,395.319722
226,Argentina,ARG,2009,NaN,542.897916,26617.890787,1.261716,1067.656284,0.0,98803.136025,...,4368.767711,837.586862,22.000000,603.462392,110.409337,1162.042050,4703.715160,0.0,8511.049201,392.653366
227,Argentina,ARG,2010,NaN,533.395878,27631.124386,1.261069,1038.198119,0.0,100413.024096,...,4300.762782,792.758835,7.000000,616.005516,108.446092,1134.488098,4662.014128,0.0,8496.227035,385.609374
228,Argentina,ARG,2011,NaN,522.717297,28531.284665,1.244435,1006.774281,0.0,101556.308652,...,4210.249602,781.337652,2.000000,626.389523,104.333895,1102.151235,4777.143330,0.0,8565.027826,386.145464
229,Argentina,ARG,2012,NaN,515.391123,29258.998764,1.233213,976.468160,0.0,101988.289764,...,4008.425438,773.712817,4.000000,630.352714,104.324725,1072.998967,4910.736901,0.0,8612.530387,385.805276
230,Argentina,ARG,2013,NaN,511.205370,30357.485214,1.221640,959.364043,0.0,102579.176957,...,4007.339071,762.449696,58.000001,644.724791,104.446625,1052.652516,4977.504327,0.0,8700.158549,386.622029
231,Argentina,ARG,2014,NaN,502.826835,30887.051942,1.208674,935.050352,0.0,101854.588271,...,3978.993942,757.237611,8.000000,655.853863,100.462041,1025.520738,4928.493898,0.0,8703.776735,370.941222
232,Argentina,ARG,2015,NaN,494.527440,31442.126995,1.195915,946.586378,0.0,103065.756658,...,3704.276003,765.650945,17.000000,666.825627,98.941440,1039.777692,4883.061340,0.0,8925.781783,356.663658
233,Argentina,ARG,2016,NaN,495.394123,31337.496003,1.184857,974.352851,0.0,105214.436492,...,3668.149345,819.503569,3.000000,655.986371,100.576883,1067.420020,4971.841163,0.0,9223.097523,359.629897
251,Argentina,ARG,2017,NaN,494.948379,31058.142248,NaN,983.607619,0.0,105776.740522,...,3600.109017,857.090286,1.000000,651.446992,101.200180,1075.354199,5024.770844,0.0,9345.109432,357.743936

In [179]:
#causesArg.max(axis = 0)

### Argentine population (1800 to 2019)

In [180]:
populationArg = population.loc[population['Entity']=='Argentina']

### Argentine population (1990 to 2019)

In [181]:
populationArg = populationArg.loc[populationArg['Year']>='1990']

In [182]:
populationArg = populationArg.set_index('Year')

In [183]:
populationArg = populationArg.drop(columns = ['Entity','Code'])

In [184]:
populationArg

      Population
Year
1990    32619000
1991    33079000
1992    33529000
1993    33970000
1994    34403000
1995    34828000
1996    35246000
1997    35657000
1998    36063000
1999    36467000
2000    36871000
2001    37276000
2002    37682000
2003    38088000
2004    38492000
2005    38893000
2006    39290000
2007    39684000
2008    40080000
2009    40483000
2010    40896000
2011    41320000
2012    41755000
2013    42196000
2014    42638000
2015    43075000
2016    43508000
2017    43937000
2018    44361000
2019    44781000

In [164]:
500/populationArg.iloc[2]

Population    0.000015
Name: 1992, dtype: float64

In [ ]:
causesArg[]/

#### Put those values in a list and remove 2019 and 2018 data

In [152]:
popList = populationArg.values.tolist()

In [153]:
del popList[-2]
popList

[[32619000],
 [33079000],
 [33529000],
 [33970000],
 [34403000],
 [34828000],
 [35246000],
 [35657000],
 [36063000],
 [36467000],
 [36871000],
 [37276000],
 [37682000],
 [38088000],
 [38492000],
 [38893000],
 [39290000],
 [39684000],
 [40080000],
 [40483000],
 [40896000],
 [41320000],
 [41755000],
 [42196000],
 [42638000],
 [43075000],
 [43508000],
 [43937000],
 [44781000]]

In [68]:
for i in range(len(popList)):
    popCurr = popList[i][1]

In [69]:
pd.DataFrame.transpose()

TypeError: transpose() missing 1 required positional argument: 'self'

In [155]:
popList[2]

TypeError: unsupported operand type(s) for /: 'list' and 'int'